.body{
  margin: 0;
  padding: 0;
}
.container {
  /*height: 200vh;*/
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.splash-div {
  margin-top: 8%;
  padding: 10px;
  width: 100%;
  display: flex;
  background-color: #c1cddc;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: Impact;
  font-size: 3.2em;
}
  .splash-div h1 {
    color: #fff;
  }

  .motto-txt {
    color: #9ab8c7;
    font-size: 2em;

  }
.title-div {
  /*margin-top: 85px;*/
  margin-left: 30%;
  align-self: flex-start;


}
.logo {
  margin-top: 20px;
  height: 200px;
  width: 200px;
}
.navbar-div {
  height: 8%;
  position: fixed;
  padding: 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  background-color: #9ab8c7;
  width: 100%
}
.navbar-div h3, .link {
  font-weight: normal;
  color: #fff;
  font-size: 1em;
  text-decoration: underline;
}
.how-to-div {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #9ab8c7;
  height: 55%;
  width: 100%;
  padding-bottom: 25px;
}
.calculator {
  margin-top: 40px;
  height: 270px;
  width: 270px;
}
.list-steps {
  display:flex;
  flex-direction: column;
  height:60%;
  color: #fff;
  font-size: 2em;
}
.info-div input{
  font-size: .5em;
  margin: 10px;
}
.info-div button{
  background-color: #89a7b6;
  color: #fff;
  font-size: .5em;
  margin: 10px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #c1cddc;
  color: #fff;
  font-size: 2em;
  height: 200px;
  margin-bottom: 20px;
  margin-right: 25px;
  width: 400px;
  border: solid white 2px
}
.comment-form button {
  background-color: #89a7b6;
  color: #fff;
  font-size: 1em;

}
td {
    padding: 3px;
}
table, th, td {
    border: 1px solid #339966;
    text-align: right;
    color: #333;
}
table {
    border-collapse: collapse;
    margin-top: 15px;
}
.bill-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 15%;
  margin: 55px;
  color: #003300;
  padding: 15px;
  height: 300px;
  overflow: scroll;
  border: solid #c1cddc 2px;
}
.bill-div h1 {
  color: #003300;
}
.billTotal-div {
  margin-top: 40px;
  background-color: #003300;
  color: #fff;
  padding: 10px;
  border: solid white 2px;
}
.bill-results-div {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
.bill-form-fields {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 20px;
  margin-right: 4px;
}
.add-button {
  background-color: #89a7b6;
  color: #fff;
  font-size: 1em;
  margin-left: 2px;
}
.bullets-div {
  padding: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #c1cddc;
  justify-content: flex-start;
  align-items: center;
  font-family: times;
  font-size: 1.5em;
  height: 400px;
  color: #fff;
  background-color: #000022;
}
.bullets-div h5 {
  margin: 5px;
}
.camping-img {
  margin-top: 20px;
  width: 100%
}
.login-signup-buttons-div {
  display: flex;
  align-items: center;
}
.login-btn {
  background-color: green;
  color: #fff;
  height: 30px;
  border-radius: 5px;
}
.signup-btn {
  background-color: #db7406;
  color: #fff;
  height: 30px;
  border-radius: 5px;
}
.signup-btn:hover, .login-btn:hover {
  background-color: #222b7a;
  cursor: pointer;
}
.login-form {
  height: 500px;
  color: #fff;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #89a7b6;
  margin-top: 70px;
}
.login-form input {
  margin-right: 10px;
}
.try-out-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  height: 300px;
  width: 400px;
  border: 2px solid orange;
}
.determine-name-div {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8em;
}
.determine-name-div button {
  background-color: #db7406;
  color: #fff;
  height: 30px;
  border-radius: 5px;
  margin-left: 20px;
}
input {
  color: #000;
}
.smiley-img {
  height: 20px;
  width: 20px;
}
.dropdown-menu li {
  margin-left: 5px;
}
.signup-login-btn {
  color: "green";
}
